.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 60px auto;
    border: 1px solid black;
    /* TODO : 애니메이션 축약식 */
    /* all : 모든 속성 */
    /* ease-in : 시작은 천천히 진행하고, 끝은 빨리 진행된다 
                 속도 차이가 있는 효과 부여 */
    /* 사용법 : transition : 속성 속도 차이효과 지속시간 */
    transition: all ease-in 10s;
}

/* 마우스가 위로 올라가면 :hover */
.box:hover{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}