ul{
    border: 1px solid black;
    background-color: #f5f7e4;
    /* 둥근 사각형 */
    border-radius: 10px;
    width: 640px;
    /* 안쪽 여백 */
    padding: 30px;
    
}
li{
    display: inline-block
    
}