/* 구글 웹폰트 css파일 */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}*
ul{
    list-style-type: none;
}
/* a 링크에 밑줄 없애기 */
a{
    text-decoration: none;
}
/* 전체 페이지 디자인 */
#container{
    width: 1900px;
    margin: 0 auto;
}
/***********************************/
/* 헤더 영역 - 로고와 네비게이션 */
/***********************************/

header{
    background-color: black;
    width: 100%;
    height: 100px;
}
/* 헤더 - 로고 + 네비게이션 */
/* 로고 */
#logo{
    float: left;
    height: 100px;
    width: 400px;
    /* 글자 세로 중앙 정렬법은 height == line-height */
    line-height: 100px;
    padding-left: 20px;
}
/* 구글 웹폰트 적용 */
#logo h1{
    font-family: 'Merienda', cursive;
    font-size: 40px;
    /* 글자 굴기 : bold or 숫자도 가능(900까지) */
    font-weight: 600;
    color: white;
}
/* 네비게이션 */
nav{
    float: left;
    width: 1000px;
    height: 100px;
}

/* (topMenu) > li : 세로 -> 가로배치 */
#topMenu > li{
    display: inline-block;
    margin-top: 40px;
}
/* (topMenu) > li > a */
#topMenu > li > a {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    /* 안쪽 여백 축약식 상하 좌우 */
    padding: 100px 50px;
}
/* 마우스가 위로 올라갔을때 디자인 적용: hover */
#topMenu > li > a:hover{
    color: skyblue;
}